h1 {
    color: #000000;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between; /* Spread out the links */
    align-items: center;
    padding: 10px 20px;
    background-color: #4CAF50;
}

header a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: background-color 0.3s;
}

header a:hover {
    background-color: #45a049;
}

header a:last-child {
    margin-left: auto; /* Push 'Log Out' to the right side */
}
