/* Resetting some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc; /* Light background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    flex-direction: column; /* Ensures elements are stacked vertically */
    text-align: center; /* Centers content horizontally */
}

h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 24px; /* You can adjust the size as needed */
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;

}

form p {
    margin: 0;
}

form input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049;
}

/* Link positioning */
a {
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px; /* Adds spacing above the link */
    display: inline-block; /* Centers the link below the form */
}

a:hover {
    text-decoration: underline;
}

.helptext {
    display: none;
}

ul {
    display: none;
}

ul.errorlist{
    display: block;
    margin-bottom: 15px;
}


