{% extends "app/base.html" %}

{% block content %}
<h2>Your Dashboard</h2>
<a href="{% url 'create_budget' %}">Create a new Budget</a>

<div>
    {% for budget in budgets %}
    <h3>{{ budget.name }} ({{ budget.start_date }} to {{ budget.end_date }})</h3>
    <p>Total Budget: ${{ budget.total_amount }}</p>
    <p>Total Expenses: ${{ budget.total_expenses }}</p>
    <p>Remaining: ${{ budget.remaining_budget }}</p>
    <a href="{% url 'add_expense' budget.id %}">Add Expense</a>
    {% endfor %}
</div>
{% endblock %}
